@charset "utf-8";
/* CSS Document */

body
{
 color:#000;
 background:#FFF;
 font:12px/1.6 Verdana, Helvetica, sans-serif;
 text-align:center;

}
#welcome{
 padding-left: 360px;
 width:600px;
 height:300px;
 padding-top: 20px;
}
.news{
 border-style:groove;
 border-color: #F5F5F5;
 float:right;
 width: 300px;
 text-align: center;
 margin-top:-200px;
 margin-right:10px;

}

*{margin:0;padding:0;}
input{font-size:23px;vertical-align:middle;cursor:pointer;letter-spacing: 2px;}
select{font-size:14px;vertical-align:middle;cursor:pointer;}
body div{text-align:left;}
textarea,input{word-wrap:break-word;word-break:break-all;padding:0px;background-color: orange;color:white;border-radius: 2px;border-color: white}
li{list-style-type:none;}
img{border:0 none;}
a{text-decoration:none;color:#333; }
a:hover{color:#1974A1;  }
a:link, a:visited{color:#333;text-decoration: none;outline: none;}
a:hover{color:#0E4470;text-decoration: none;}
#yemei
{
 margin-left:100px;
 margin-right:100px;
}
#middle
{
 background:url('../images/book.jpg') no-repeat fixed;
 background-size:100% 100%;
 margin-top: 70px;
}
#mandarinlogo
{
 position:absolute;
 left:50px;
}

#welcome
{
 margin-left:0;
}
#log_in_button
{
 margin-left:900px;
 color:#F3F3F3;

}


.search{
 margin-top: 25px;
 margin-left: -1000px;
}
table,th,td{
 color: white;
 border: 0.3px lightblue solid;
 border-collapse: collapse;
}
.table{
 padding-top: 25px;
 position:absolute;
 right:450px;
 width:70%;
 margin-bottom: 20px;
}
th,td{
 padding: 10px;
}
.search.radius6{
 margin-bottom: 15px;
}
tr{
 background-color: #4f3b35;
 color: #000;
}
.info{
 background-color: cadetblue;
}

.mainDiv{
 width:50%;
}
#bg{
 color:white;
}
#log_in_button
{
 margin-left: 1400px;
}