
/*--- reset code ---*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
    display: block;
}
ol,ul {
    list-style:none;
    margin:0px;
    padding:0px;
}
blockquote,q {
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

/* start editing from here */
a {
    text-decoration:none;
}
.txt-rt {
    text-align:right;
}/* text align right */
.txt-lt {
    text-align:left;
}/* text align left */
.txt-center {
    text-align:center;
    /*-- W3Layouts --*/
}/* text align center */
.float-rt {
    float:right;
}/* float right */
.float-lt {
    float:left;
}/* float left */
.clear {
    clear:both;
}/* clear float */
.pos-relative {
    position:relative;
}/* Position Relative */
.pos-absolute {
    position:absolute;
}/* Position Absolute */
.vertical-base {
    vertical-align:baseline;
}/* vertical align baseline */
.vertical-top {
    vertical-align:top;
}/* vertical align top */
nav.vertical ul li {
    display:block;
}/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}/* horizontal menu */
img {
    max-width:100%;
}

/*--- end reset code ---*/
body {

    background:url("../images/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    font-family: 'Exo 2', sans-serif;
}
h1.header-agileits {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    padding-top: 35px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 8px;
    font-family: 'Titillium Web', sans-serif;
}
p.header-agileits {
    font-size: 17px;
    font-weight: normal;
    line-height: 35px;
    margin-bottom: 45px;
    color: #dcdcdc;
    text-align: center;
}
.content-w3ls {
    width: 71%;
    margin: 20px auto 50px;
    background-color:rgba(3, 9, 12, 0.78);
    border: 5px solid #a2abb1;
    padding: 55px 50px;
}
.form-control {
    padding-bottom: 35px;
}
.form-control:nth-child(6) {
    padding-bottom:0;
}
label.header {
    font-size: 20px;
    width: 300px;
    font-weight: 500;
    color: #fff;
    text-align: justify;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
    position:relative;
}
label.header span {
    position:absolute;
    right:15px;
    top:0;
}
input#bname,input#bauthor,input#bpress,input#bprice,input#bloc,textarea#message {
    font-family: 'Exo 2', sans-serif;
    border: 1px solid #fff;
    color: #fff;
    text-align: justify;
    outline: none;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: normal;
    background-color: rgba(82, 56, 76, 0.15);
}
input#bname,input#bauthor,input#bpress,input#bprice,input#bloc {
    height:50px;
    padding:0 15px;
    width:71.5%;
}
label.enquiry {
    font-size: 20px;
    width: 304px;
    font-weight: 500;
    color: #fff;
    float: left;
    text-align: justify;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 25px;
    font-family: 'Titillium Web', sans-serif;
    position:relative;
}
label.enquiry span {
    position:absolute;
    right:19px;
    top:0;
}
textarea#message {
    height:150px;
    padding:15px;
    width:71.5%;
}
input::-webkit-input-placeholder {
    color:#c1c1c1!important;
}

input:-moz-placeholder { /* Firefox 18- */
    color:#c1c1c1!important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color:#c1c1c1!important;
}

input:-ms-input-placeholder {
    color:#c1c1c1!important;
}
textarea::-webkit-input-placeholder {
    color:#c1c1c1!important;
}

textarea::-moz-placeholder { /* Firefox 18- */
    color:#c1c1c1!important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color:#c1c1c1!important;
}

textarea::-ms-input-placeholder {
    color:#c1c1c1!important;
}
.register {
    background-color: #f15f22;
    width:20%;
    margin-right:5px;
    float:right;
    height: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    letter-spacing:1px;
    outline: none;
    font-size:17px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    font-family: 'Exo 2', sans-serif;
}
.register:hover {
    background-color:#36b051;
    color:#fff;
}
.reset {
    background-color: #f15f22;
    width:20%;
    float:right;
    margin-right:2px;
    margin-left:5px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    letter-spacing:1px;
    outline: none;
    font-size:17px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    font-family: 'Exo 2', sans-serif;
}
.reset:hover {
    background-color:#36b051;
    color:#fff;
}
p.copyright {
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}
p.copyright a {
    color:#f15f22;
}
p.copyright a:hover {
    color:#36b051;
}

/*-- responsive design --*/
@media (max-width:1600px) {
    .reset {
        margin-right:1px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc, textarea#message {
        width:70%;
    }
}

@media (max-width:1440px) {
    label.header {
        width:258px;
    }
    label.enquiry {
        width:261px;
    }
    .reset {
        margin-right: 3px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc, textarea#message {
        width: 70.8%;
    }
}

@media (max-width: 1366px) {
    label.header {
        width: 244px;
    }
    label.enquiry {
        width: 247px;
    }
    .reset {
        margin-right: 1px;
    }
}

@media (max-width: 1280px) {
    label.header {
        width: 228px;
    }
    label.enquiry {
        width: 232px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc,  textarea#message {
        width: 70.5%;
    }
}

@media (max-width: 1080px) {
    h1.header-agileits {
        font-size:40px;
        padding-top:25px;
    }
    label.header {
        width: 260px;
        font-size: 16px;
    }
    p.header-agileits {
        font-size: 14px;
        margin-bottom:30px;
    }
    .content-w3ls {
        margin:0 auto 50px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc,  textarea#message {
        font-size:16px;
        width:60.8%;
    }
    label.enquiry {
        width: 263px;
        font-size: 16px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc {
        height: 45px;
    }
    .reset {
        margin-right: 2px;
        height: 45px;
        font-size:15px;
    }
    .register {
        height: 45px;
        font-size:15px;
    }
    p.copyright {
        font-size: 14px;
        line-height:30px;
        padding:0 20px 20px;
    }
}

@media (max-width: 1050px) {
    label.header {
        width: 251px;
    }
    label.enquiry {
        width: 253px;
    }
}

@media (max-width: 1024px) {
    label.header {
        width: 243px;
    }
    label.enquiry {
        width: 247px;
    }
}

@media (max-width: 991px) {
    label.header {
        width: 233px;
    }
    label.enquiry {
        width: 237px;
    }
    label.enquiry span {
        right:20px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc,  textarea#message {
        width:61%;
    }
}

@media (max-width: 900px) {
    label.header {
        width: 209px;
    }
    label.enquiry {
        width: 213px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc,  textarea#message {
        width: 60.8%;
    }
}

@media (max-width: 800px) {
    label.header {
        width: 181px;
    }
    label.enquiry {
        width: 184px;
    }
    .reset,.register {
        height:40px;
    }
    .content-w3ls {
        margin: 0 auto 35px;
    }
    label.header span {
        right:10px;
    }
    label.enquiry span {
        right: 13px;
    }
}

@media (max-width: 768px) {
    label.header {
        width: 170px;
    }
    label.enquiry {
        width: 173px;
    }
    .reset {
        margin-right: 9px;
    }
    label.header span {
        right: 5px;
    }
    label.enquiry span {
        right: 9px;
    }
}

@media (max-width: 736px) {
    .content-w3ls {
        width: 75%;
        padding: 40px 40px;
    }
    p.header-agileits {
        font-size: 14px;
        margin-bottom: 25px;
        padding: 0 14px;
    }
    label.header {
        width: 175px;
    }
    label.enquiry {
        width: 178px;
    }
    .reset {
        margin-right: 7px;
    }
}

@media (max-width: 667px) {
    p.header-agileits {
        line-height:30px;
    }
    label.header {
        width: 167px;
    }
    .content-w3ls {
        width: 80%;
        padding: 40px 30px;
    }
    label.enquiry {
        width: 171px;
    }
    .reset {
        margin-right: 6px;
    }
    label.header span {
        right: 3px;
    }
    label.enquiry span {
        right: 7px;
    }
}

@media (max-width: 640px) {
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc {
        font-size: 16px;
        width: 93%;
        height:40px;
    }
    textarea#message {
        width:93%;
    }
    label.header {
        width: 187px;
    }
    .reset {
        margin-right: 4px;
    }
    label.enquiry span {
        right: -12px;
    }
    h1.header-agileits {
        font-size: 35px;
        padding-top: 20px;
    }
}

@media (max-width: 600px) {
    label.header {
        width: 174px;
    }
}

@media (max-width: 568px) {
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc{
        width:52%;
    }
    label.header {
        width: 176px;
    }
    .form-control:nth-child(5) {
        padding-bottom: 20px;
    }
    .reset {
        margin-right: 4px;
    }
    label.enquiry span {
        right: -4px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc, textarea#message {
        width: 92%;
    }
}

@media (max-width: 480px) {
    h1.header-agileits {
        font-size: 30px;
        padding-top: 18px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc {
        width: 91.5%;
    }
    label.enquiry {
        margin-bottom:15px;
    }
    textarea#message {
        width: 91%;
    }
    .reset {
        margin-right: 3px;
    }
    .reset,.register {
        width:23%;
    }
    label.header span {
        right: 1px;
    }
    label.enquiry span {
        right: -4px;
    }
}

@media (max-width: 414px) {
    .content-w3ls {
        width: 70%;
        padding: 30px 30px;
    }
    label.header,label.enquiry {
        font-size:14px;
        width:160px;
    }
    label.enquiry span {
        right: -1px;
    }
    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc,  textarea#message {
        width: 88%;
        font-size:15px;
    }
    .reset, .register {
        width: 35%;
        font-size: 14px;
    }
    .reset {
        margin-right: 2px;
    }
    .form-control {
        padding-bottom: 25px;
    }
    p.header-agileits {
        margin-bottom:20px;
    }
}

@media (max-width: 384px) {
    .reset {
        margin-right: 0px;
    }
    label.header span {
        right: 0px;
    }
}

@media (max-width: 375px) {
    p.header-agileits {
        line-height: 28px;
    }
    label.header span {
        right: -1px;
    }
}

@media (max-width: 320px) {
    h1.header-agileits {
        font-size: 29px;
        padding-top: 18px;
        letter-spacing: 5px;
    }

    .content-w3ls {
        width: 73%;
        padding: 15px 20px;
    }

    label.header span {
        right: -2px;
    }

    input#bname, input#bauthor, input#bpress, input#bprice, input#bloc, textarea#message {
        width: 85%;
        font-size: 14px;
    }

    .form-control:nth-child(5) {
        padding-bottom: 10px;
    }

    .reset, .register {
        height: 37px;
        width: 40%;
    }

    .reset {
        margin-right: 1px;
    }
}