<html>
<body>
<script type="text/javascript">
    // Firefox, Google Chrome, Opera, Safari, Internet Explorer from version 9
    function OnInput (event) {
        if(event.target.value.length==8)alert(document.getElementById("ei").value);
    }
    // Internet Explorer
    function OnPropChanged (event) {
        if (event.propertyName.toLowerCase () == "value") {
            alert ("The new content: " + event.srcElement.value);
        }
    }
</script>
<input type="text" oninput="OnInput (event)" onpropertychange="OnPropChanged (event)" id="ei" />

</body>
</html>