<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<div>
    <div class="stu_error_box"></div>
    <form action="" method="post" class="stu_login_error" onsubmit="rlogin()">
        <div id="Rusername">
            <label>Reader's ID:</label>
            <input class="text" type="text" id="rtele" name="username" placeholder="Enter ID" nullmsg="ID cannot be empty!" datatype="m" errormsg="Incorrect ID format!" sucmsg="ID verification passed!"/>
            <!--ajaxurl="demo/valid.jsp"-->
        </div>
        <div id="Rpassword">
            <label> &nbsp;&nbsp;&nbsp;Password:</label>
            <input class="text" type="password" id="rpassword" name="password" placeholder="Enter password" nullmsg="Password cannot be empty!" datatype="*6-16" errormsg="Password ranges in 6~16 bits!" sucmsg="Password verification passed!"/>
        </div>
        <div id="Rcode">
            <label>Verification:</label>
            <input class="text" type="text" id="stu_code_hide" name="code"  placeholder="Input code" nullmsg="Captcha cannot be empty!" datatype="*4-4" errormsg="The captcha has four digits!" sucmsg="Verification code verification passed!"/>
            <img src="../static/images/Logincaptcha.jpg" title="Click on the change" alt="Captcha placeholder map"/> </div>
        <div id="Rremember">
            <input type="checkbox" name="remember">
            <label>Remember the password</label>
        </div>
        <div id="Rlogin">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>