<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="../static/css/public.css" type="text/css" rel="stylesheet">
        <link href="../static/css/houtai.css" type="text/css" rel="stylesheet">
        <link href="../static/css/smartMenu.css" type="text/css" rel="stylesheet">
        <title>Admin</title>
    </head>
    <body>
    	<div id="admin">
    		<div class="ad-menu" id="ad-menu">
                <div class="ad-logo"><img src="../static/images/logo1.png" height="75" ></div>
                <div class="ad-list">
                    <ul>
                        <li>
                            <div class="li-item"><em class="scm li-ico ic1"></em>Manage Librarians<span class="scm arrow"></span></div>
                            
                                
                                   <ul class="ad-item-list" id="ad-main3">
                                     <li class="J_menuItem dd-item" href="createLi" data-index="2">Add Librarians<span class="scm dd-ar"></span></li>
									</ul>
                                     <ul class="ad-item-list" id="ad-main1">
                                        <li class="J_menuItem dd-item" href="recoverpsw" data-index="1">Find Password</li>
                                    </ul>
                                                   </li>
                        <li>
                            <div class="li-item"><em class="scm li-ico ic3"></em>Change Password<span class="scm arrow"></span></div>
                            <ul class="ad-item-list" id="ad-main5">
                                        <li class="J_menuItem dd-item" href="index_v1.html" data-index="1">Change Password</li>
                                    </ul>
                           </li>
                        <li>
                            <div class="li-item"><em class="scm li-ico ic4"></em>Settings <span class="scm arrow"></span></div>
                                                       <ul class="ad-item-list" id="ad-main4">
                                        <li class="J_menuItem dd-item" href="index_v5.html" data-index="1">Set Fine</li>
                                         <li class="J_menuItem dd-item" href="index_v6.html" data-index="1">Set Period</li>
                                          <li class="J_menuItem dd-item" href="index_v7.html" data-index="1">Set Deposit</li>
                                    </ul>
                        </li>
                    </ul>
                </div>
                  <div class="ad-main-wraper .J_menuItems">
                            <ul class="ad-main-list" id="ad-main">
                            </ul>
                        </div>
            </div>
    		<div class="ad-comment-box" id="ad-comment">
                <div class="ad-top-comment">
                  <div class="ad-message">
                        <div class="ad-top-left">
                            <div class="ad-change-btn"><a id="ad-list" href="javascript:;" class="scm ad-list-btn"></a></div>
                            <div class="ad-search-box clear">
                                <div class="ad-search-sel">
                                    <select>
                                        <option>Serch by...</option>
                                        <option>ISBN</option>
                                        <option>Author</option>
                                        <option>Title</option>
                                    </select>
                                </div>
                              <div class="ad-search-cha">
                                    <input type="text" class="ad-search-input" placeholder="Please enter the content...">
                                    <input type="submit" class="scm ad-search-btn" value=""> 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="ad-top-right">
                            <div class="ad-welcom">
                                <div class="ad-wel-text">
                                    <div class="font-wel">Welcome! <a href="search"><strong>【Exit】</strong></a></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
<div class="ad-sub-nav-box content-tabs">
          <!-- <div class="ad-sub-record">历史记录</div> -->
          <a href="javascript:;" class="scm jian-a sub-sel pre j_tabBg J_tabLeft"></a>
          <div class="ad-sub-wraper page-tabs J_menuTabs">
                            <ul class="ad-sub-list page-tabs-content">
                                <li class="active J_menuTab" data-id="search.html">Administrator</li>
                            </ul>
                        </div>
                        <a href="javascript:;" class="scm jian-a next j_tabBg J_tabRight"></a>
                    </div>
                </div>
                <div class="ad-main-comment J_mainContent" id="ad-iframe">
                    <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="welcomeAdmin" frameborder="0" data-id="index_v0.html" seamless></iframe>
                </div>
    		</div>
    	</div>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/contabs.js"></script>
        <script type="text/javascript" src="../static/js/maintabs.js"></script>
        <script type="text/javascript" src="../static/js/jquery-smartMenu-min.js"></script>
        <script type="text/javascript" src="../static/js/jquery.nicescroll.min.js"></script>
        <script type="text/javascript">
            $(function(){
                $(".ad-menu").niceScroll({cursorborder:"0 none",cursorcolor:"#1a1a19",cursoropacitymin:"0",boxzoom:false});
            })
        </script>
    </body>
</html>