<!--A Design by xmoban.cn 
Author: xmoban.cn
Author URL: http://www.xmoban.cn
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>Enquiry Form Flat Responsive widget Template :: xmoban.cn</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Enquiry Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript" src="../static/js/functions.js"></script>
<!-- css files -->
<link href="../static/css/createListl.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
<!-- font files -->
<link href='//fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
<!-- /font files -->
</head>
<body>
<h1 class="header-agileits w3 w3l agile-info">Create Librarian</h1>
<p class="header-agileits wthree w3-agileits">Administrators use this page to create Librarians.</p>

<div class="content-w3ls">
	<div class="form-w3layouts">
		<form   >
			<div class="form-control"> 
				<label class="header">Librarian Name <span>:</span></label>
				<input type="text" id="name" name="name" placeholder="Librarian's Name" title="Please enter Librarian's Full Name" required="">
			</div>
		
			<div class="form-control">	
				<label class="header">Email Address <span>:</span></label>
				<input type="email" id="email" name="email" placeholder="Mail@example.com" title="Please enter a Valid Email Address" required="">
			</div>
		
			
		
			<div class="form-control">	
				<label class="header">Phone Number <span>:</span></label>	
				<input type="tel" id="tel" name="usrtel" placeholder="Librarian's Phone Number" title="Please enter Librarian's Phone Number" required="">
			</div>	
			
			
			
			<div class="form-control">
				<input type="reset" class="reset" value="Reset">
				<button type="submit" onclick="lCreate()">SUBMIT</button>
				<div class="clear"></div>
			</div>	
		</form>
	</div>
</div>

<script type="text/javascript">
	function lCreate(){
		var username=$("form input[name='name']").val();
		var email=$('#email').val();
		var tel= $('#tel').val();
		alert("username");
		// registerR(tel,username,email);
		// return false;
	}
</script>


<p class="copyright agileits-w3layouts agile w3-agile">© 2019  All Rights Reserved | Design by <a href="https://www.xmoban.cn/" target="_blank">NPUERS</a></p>
</body>
</html>