<!--A Design by xmoban.cn 
Author: xmoban.cn
Author URL: http://www.xmoban.cn
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>Enquiry Form Flat Responsive widget Template :: xmoban.cn</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Enquiry Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css files -->
<link href="../static/css/readerstl.css" rel='stylesheet' type='text/css' media="all" />
<link href="../static/css/CreateReader_font1.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/CreateReader_font2.css" rel="stylesheet" type="text/css" />

<!-- /font files -->
	<script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../static/js/jQuery1.7.js"></script>
	<script type="text/javascript" src="../static/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery1.42.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.SuperSlide.js"></script>
	<script type="text/javascript" src="../static/js/Validform_v5.3.2_min.js"></script>
	<script type="text/javascript" src="../static/js/functions.js"></script>
</head>
<body>
<h1 class="header-agileits w3 w3l agile-info">Create Reader</h1>
<p class="header-agileits wthree w3-agileits">Librarians can use this page to create readers.</p>

<div class="content-w3ls">
	<div class="form-w3layouts">
		<form>
			<div class="form-control"> 
				<label class="header">Reader Name <span>:</span></label>
				<input type="text" id="rname" name="name" placeholder="Reader's Name" title="Please enter reader Full Name" required="">
			</div>
		
			<div class="form-control">	
				<label class="header">Email Address <span>:</span></label>
				<input type="email" id="remail" name="email" placeholder="Mail@example.com" title="Please enter a Valid Email Address" required="">
			</div>
		
			<div class="form-control">	
				<label class="header">Phone Number <span>:</span></label>
				<input type="text" id="rtel" name="tel" placeholder="Reader's Phone Number" title="Please enter Reader's Phone Number" required="">
			</div>
		
			<div class="form-control">	
				<label class="header">Balance <span>:</span></label>	
				<input type="text" id="rbalance" name="balance" placeholder="Reader's Balance" title="Please enter Reader's balance" required="">
			</div>	
			
			
			
			<div class="form-control">
				<input type="reset" class="reset" value="Reset">
				<input type="button" class="register" value="Submit" onclick="alogin()">
				<div class="clear"></div>
			</div>	
		</form>
		<script type="text/javascript">
			function Areg(rname, remail, rbalance, rtel){

				$.ajax({
					type:"POST",
					url:"/registReader?tele="+rtel+"&username="+rname+"&e_mail="+remail+"&balance="+rbalance,
					async:false,
					data:{},
					datatype:"string",
					success:function(msg) {
						if(msg=="success!")  {
							alert(msg);
							window.location.href="librarian";
						}
						else  alert("msg");
					}
				})
			}
			function alogin(){
				var rname=$('#rtel').val();
				var remail=$('#remail').val();
				var rbalance=$('#rbalance').val();
				var rtel=$('#rtel').val();
				Areg(rname, remail, rbalance, rtel);
			}
		</script>
	</div>
</div>

<p class="copyright agileits-w3layouts agile w3-agile">© 2019 All Rights Reserved | Design by <a href="https://www.xmoban.cn/" target="_blank">NPUERS</a></p>
</body>
</html>