<!doctype html>
<html><head>
    <meta charset="utf-8">
    <link href="../static/css/information.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/information.js"></script>
    <title>information</title>
</head>


<body onload="searchInformation()">
<div class="whole">
    <div class="welcome">
        Welcome <input type="text" id="userid"  style="background-color:transparent; border:none ; color:white; font-size:40px;" value="" readonly>
    </div>
    <div class="info">
        <div class="id">
            <font class="s-c">id:</font> <input type="text" id="id" style="background-color:transparent; border:none; color:white; font-size: 30px;" value="" readonly>
        </div>
        <br>
        <div class="username">
            <font class="s-c">username:&nbsp;</font><input type="text" style="background-color:transparent; border:none;color:white; font-size:30px;" id="username" value="" readonly>
        </div>
        <br>
        <div class="balance">
            <font class="s-c"> balance:&nbsp;</font><input type="text" style="background-color:transparent; border:none;color:white; font-size: 30px;" id="balance" value="" readonly>
        </div>
        <br>
        <div class="e_mail">
            <font class="s-c"> e_mail:&nbsp;</font><input type="text" style="background-color:transparent; border:none;color:white; font-size: 30px;" id="e_mail" value="" readonly>
        </div>
        <br>
        <div class="tele">
            <font class="s-c"> tele:&nbsp;</font><input type="text" style="background-color:transparent; border:none;color:white; font-size: 30px;" id="tele" value="" readonly>
        </div>
        <br>
        <div class="registerdate">
            <font class="s-c"> registerdate:</font><input type="text" style="background-color:transparent; border:none; color:white; font-size:30px;" id="registerdate" value="" readonly>
        </div>
    </div>
</div>
</body>
</html>
