<!doctype html>
<html><head>
    <meta charset="utf-8">
    <link href="../static/css/information.css" rel="stylesheet" type="text/css">
    <link href="../static/css/bootstrap.min1.css" rel="stylesheet" type="text/css">
    <link href="../static/css/editInformation.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/information.js"></script>
    <script type="text/javascript" src="../static/js/bootbox.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min1.js"></script>
    <title>information</title>
</head>


<body onload="searchInformation()">
<div class="whole">
    <div class="welcome">
        Welcome <input type="text" id="userid"  style="background-color:transparent; border:none ; color:white; font-size:40px;" value="" readonly>
    </div>
    <div class="info">
        <div class="id">
            <font class="s-c">id:</font> <input type="text" id="id" style="background-color:transparent; border:none; color:white; font-size: 30px;" value="" readonly>
        </div>
        <br>
        <div class="username">
            <font class="s-c">username:&nbsp;</font><input type="text" style="background-color:transparent; border:none;color:white; font-size:30px;" id="username" value="" readonly>
        </div>
        <br>
        <div class="balance">
            <font class="s-c"> balance:&nbsp;</font><input type="text" style="background-color:transparent; border:none;color:white; font-size: 30px;" id="balance" value="" readonly>
        </div>
        <br>
        <div class="e_mail">
            <font class="s-c"> e_mail:&nbsp;</font><input type="text" style="background-color:transparent; border:none;color:white; font-size: 30px;" id="e_mail" value="" readonly>
        </div>
        <br>
        <div class="tele">
            <font class="s-c"> tele:&nbsp;</font><input type="text" style="background-color:transparent; border:none;color:white; font-size: 30px;" id="tele" value="" readonly>
        </div>
        <br>
        <div class="registerdate">
            <font class="s-c"> registerdate:</font><input type="text" style="background-color:transparent; border:none; color:white; font-size:30px;" id="registerdate" value="" readonly>
        </div>
    </div>
    <!--添加按钮及bootstrap的模态框-->
    <div class="export">
        <button id="edit" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#renyuan">
            edit
        </button>
        <div class="modal fade" id="renyuan">
            <div class="modal-dialog modal-lg modal_position">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">edit</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table id="xztb" class="table">
                            <!--新修改弹窗的样式-->
                            <tbody>
                            <tr>
                                <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;">*</font>Name</label>
                                </td>
                                <td><input class="userName" type="text" placeholder="Please input Name"></td>
                                <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;">*</font>Email</label>
                                </td>
                                <td><input class="jobNum" type="text" placeholder="Please input Email"></td>
                            </tr>
                            <tr>
                                <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;">*</font>Tel</label>
                                </td>
                                <td><input class="userTel" type="text" placeholder="Please input Tel"></td>
                                <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;">*</font>Balance</label>
                                </td>
                                <td><input class="userBalance" type="text" placeholder="Please input balance"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button id="add_btn" type="button" class="btn btn-secondary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
