<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Reader and Librarian Login</title>
    <link href="../static/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../static/js/test.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/js/jQuery1.7.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="../static/js/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="../static/js/functions.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
	var $tab_li = $('#tab ul li');
	$tab_li.hover(function(){
		$(this).addClass('selected').siblings().removeClass('selected');
		var index = $tab_li.index(this);
		$('div.tab_box > div').eq(index).show().siblings().hide();
	});
});
</script>
    <script type="text/javascript">
$(function(){
/*读者登录信息验证*/
$("#stu_username_hide").focus(function(){
 var username = $(this).val();
 if(username=='Enter ID'){
 $(this).val('');
 }
});
$("#stu_username_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('Enter ID');
 }
});
$("#stu_password_hide").focus(function(){
 var username = $(this).val();
 if(username=='Enter password'){
 $(this).val('');
 }
});
$("#stu_password_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('Enter password');
 }
});
$("#stu_code_hide").focus(function(){
 var username = $(this).val();
 if(username=='Input code'){
 $(this).val('');
 }
});
$("#stu_code_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('Input code');
 }
});
$(".stu_login_error").Validform({
	tiptype:function(msg,o,cssctl){
		var objtip=$(".stu_error_box");
		cssctl(objtip,o.type);
		objtip.text(msg);
	},
	ajaxPost:true
});

/*图书管理员登录信息验证*/
$("#sec_username_hide").focus(function(){
 var username = $(this).val();
 if(username=='Enter ID'){
 $(this).val('');
 }
});
$("#sec_username_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('Enter ID');
 }
});
$("#sec_password_hide").focus(function(){
 var username = $(this).val();
 if(username=='Enter password'){
 $(this).val('');
 }
});
$("#sec_password_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('Enter password');
 }
});
$("#sec_code_hide").focus(function(){
 var username = $(this).val();
 if(username=='Input code'){
 $(this).val('');
 }
});
$("#sec_code_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('Input code');
 }
});
$(".sec_login_error").Validform({
	tiptype:function(msg,o,cssctl){
		var objtip=$(".sec_error_box");
		cssctl(objtip,o.type);
		objtip.text(msg);
	},
	ajaxPost:true
});
});
</script>
    <script type="text/javascript" src="../static/js/RLlogin.js"></script>
</head>

<body>
<div id="tab">
    <ul class="tab_menu">
        <li class="selected">Reader Login</li>
        <li>Librarian Login</li>
    </ul>
    <div class="tab_box">
        <!-- 读者登录开始 -->
        <div>
            <div class="stu_error_box"></div>
            <form action="/" method="post" class="stu_login_error" onsubmit="rlogin(); to()">
                <div id="Rusername">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone:</label>
                    <input class="text" type="text" id="rtele" name="username" placeholder="Enter ID" nullmsg="ID cannot be empty!" sucmsg="ID verification passed!"/>
                    <!--ajaxurl="demo/valid.jsp"-->
                </div>
                <div id="Rpassword">
                    <label> &nbsp;&nbsp;&nbsp;Password:</label>
                    <input class="text" type="password" id="rpassword" name="password" placeholder="Enter password" nullmsg="Password cannot be empty!" datatype="*6-16" errormsg="Password ranges in 6~16 bits!" sucmsg="Password verification passed!"/>
                </div>
                <div id="Rcode"  class="form-group">
                    <label>Verification:</label>
                    <input class="text" type="text" id="verify_input" placeholder="Input code" maxlength="4">
                    <a href="javascript:void(0);" rel="external nofollow" title="Click to replace the verification code">
                        <img id="imgVerify" src="http://localhost/getVerify?158" alt="Replace verification code" height="35" width="35%" onclick="getVerify()">
                    </a>
                </div>
                <div id="Rremember">
                    <input type="checkbox" name="remember">
                    <label>Remember the password</label>
                </div>
                <div id="Rlogin">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            function rlogin(){
                var tele=$('#rtele').val();
                var password= $('#rpassword').val();
                var yzm;
                $.ajax({
                    type:"POST",
                    datatype:"string",
                    url:"/login?tele="+tele+"&password="+password,
                    // data: JSON.stringify(data),
                    // headers	:{'Content-Type': 'application/json'},
                    async:false,
                    success:function(msg) {
                        yzm=check();
                        // alert(yzm);
                        if(msg=="Password error!") alert("Your password is incorrect, please check again!");
                        else{
                            if(yzm=="fail") alert("the valid code is wrong!");
                            else if(msg==1) alert("please use Librarian window to login!");
                            else if(msg==2) window.location.href="reader";
                            else if(msg==0) alert("please use Admin window to login!");
                            else alert(msg);}
                    }
                })
            }

            function SetCookie(cookieName,cookieValue)
            {
                document.cookie=cookieName+"="+escape(cookieValue);
            }
            function to() //这个是点击login触发的函数
            {

                var idea=$('#rtele').val();
                SetCookie("rtele",idea);
            }
        </script>

        <!-- 读者登录结束-->
        <!-- 图书管理员登录开始-->
        <div class="hide">
            <div class="sec_error_box"></div>
            <form action="/" method="post" class="sec_login_error" onsubmit="logins()">
                <div id="Lusername">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone:</label>
                    <input class="text" type="text" id="tele" name="username" placeholder="Enter Telephone" nullmsg="Phone No. cannot be empty!" sucmsg="ID verification passed!"/>
                    <!--ajaxurl="demo/valid.jsp"-->
                </div>
                <div id="Lpassword">
                    <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password:</label>
                    <input class="text" type="password" id="password" name="password" placeholder="Enter password" nullmsg="Password cannot be empty!" datatype="*6-16" errormsg="Password ranges in 6~16 bits!" sucmsg="Password verification passed!"/>
                </div>
                <div id="Rcode1"  class="form-group">
                    <label>Verification:</label>
                    <input class="text" type="text" id="verify_input1" placeholder="Input code" maxlength="4">
                    <a href="javascript:void(0);" rel="external nofollow" title="Click to replace the verification code">
                        <img id="imgVerify1" src="http://localhost/getVerify?158" alt="Replace verification code" height="35" width="35%" onclick="getVerify()">
                    </a>
                </div>
                         <div id="Lremember">
                    <input type="checkbox" name="remember">
                    <label>Remember the password</label>
                </div>
                <div id="Llogin">
                    <button type="submit" >Login</button>
                </div>
            </form>
        </div>
        <!-- 图书管理员登录结束-->
    </div>
</div>
<script type="text/javascript">
        function logins(){
            var tele=$('#tele').val();
            var password= $('#password').val();
            var yzm;
            $.ajax({
                type:"POST",
                datatype:"string",
                url:"/login?tele="+tele+"&password="+password,
                // data: JSON.stringify(data),
                // headers	:{'Content-Type': 'application/json'},
                async:false,
                success:function(msg) {
                    yzm=check();
                    // alert(yzm);
                    if(msg=="Password error!") alert("Your password is incorrect, please check again!");
                    else{
                        // if(yzm=="fail") alert("the valid code is wrong!");
                        if(msg==1||yzm=="fail") window.location.href="librarian";
                        else if(msg==2) alert("please use Reader window to login!");
                        else if(msg==0) alert("please use Admin window to login!");
                        else alert(msg);}
                }
            })
        }

</script>
<div class="bottom"><a href="##################">Return to the home page</a></div>
<div class="screenbg">
    <ul>
        <li><a href="javascript:;"><img src="../static/images/Login0.jpg"></a></li>
        <li><a href="javascript:;"><img src="../static/images/Login1.jpg"></a></li>
        <li><a href="javascript:;"><img src="../static/images/Login2.jpg"></a></li>
        <li><a href="javascript:;"><img src="../static/images/Login3.jpg"></a></li>
    </ul>
</div>
</body>
</html>
