<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>setFine</title>

    <link href="../static/css/233.css" rel='stylesheet' type='text/css' />

    <script type="text/javascript" src="../static/js/jquery-1.8.2.min.js"></script>

    <script type="text/javascript" src="../static/js/setThree.js"></script>


</head>
<body onload="loadFine()">
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});
</script>
<!--SIGN UP-->
<h1>set fine</h1>
<div class="login-form">
    <div class="close"> </div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"> </div>

    <form>
        <div><span class="margin_right10"></span><input type="text" id="a"
                                                                                 class="text"></div>
    </form>
    <div class="signin">
        <input type="submit" class="login_btn" onclick="setFine()" value="confirm" >
    </div>
</div>
</body>
</html>