<!doctype html>
<html>
<head>
<title>Enquiry Form Flat Responsive widget Template :: xmoban.cn</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Enquiry Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css files -->
<link href="../static/css/su.css" rel='stylesheet' type='text/css' media="all" />
<link href="../static/css/font1.css" rel="stylesheet" type="text/css" />
<link href="../static/css/font2.css" rel="stylesheet" type="text/css" />
<!-- css files -->
<!-- js files -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/jquery.validate.min.js"></script>
<script src="../static/js/JsBarcode.all.min.js"></script>
<!-- js files -->
<script>
window.onload=function(){createId();get();}
function createId(){
	var str,barcode,loc;
	var begin =  function(){
		jQuery(document).ready(function(){
    		$.ajax({
      		type : "GET", //jquey是不支持post方式跨域的
      		url : url, //跨域请求的URL
      		dataType : "int", //传递给请求处理程序，用以获得jsonp回调函数名的参数名(默认为:callback)
      		success :  function(data){
        		// var jsonData = JSON.parse(data);
        		console.log("ID返回");
        		console.log(data);
				return data
      		} ,
      		error:function (e) {      
       		}
		});
  	})
	};
	
	total = document.getElementById('cpn').value;
	start = begin-total+1;
	loc = document.getElementById('bloc').value;
	total = parseInt(total);
	for(var j=0;j<total;j++){
		str=start+j;
		barcode = document.getElementById('barcode'+j);
		options = {
            format: "CODE128",
            displayValue: true,
            fontSize: 18,
            height: 100,
			text:str + "\r\n" + loc
        };
		JsBarcode(barcode, str, options);
		}
}

function ReadCookie(cookieName)
{
    var theCookie=""+document.cookie;
    var ind=theCookie.indexOf(cookieName);
    if(ind==-1||cookieName=="")return"";
    var ind1=theCookie.indexOf(';',ind);
    if(ind1==-1) ind1=theCookie.length;
    return unescape(theCookie.substring(ind+cookieName.length+1,ind1));
}

function get(){
	document.getElementById('bname').value=ReadCookie("bookname");
	document.getElementById('bauthor').value=ReadCookie("bookauthor");
	document.getElementById('bpress').value=ReadCookie("bookpress");
	document.getElementById('bprice').value=ReadCookie("bookprice");
	document.getElementById('bloc').value=ReadCookie("bfloor")+"  "+ReadCookie("bshelf");
	document.getElementById('bookCategory').value=ReadCookie("category");
	document.getElementById('cpn').value=ReadCookie("cpn");
}

function back(){
	document.location="index";
}
</script>
</head>
<body>

<div class="neirong" style="margin-left:18%;">

<h1 class="header-agileits w3 w3l agile-info">ADD BOOK SUCCESSFULLY!</h1>
<p class="header-agileits wthree w3-agileits">It shows book's details.</p>

<div class="content-w3ls" id="nr">
	<div class="form-w3layouts">
		<form action="#" method="get">

			<div class="form-control"> 
				<label class="header">Book Name <span>:</span></label>
				<input id="bname" name="bname" disabled style="width:250px;background:#999;border:none;font-size:26px;">
			</div>
		
			<div class="form-control">	
				<label class="header">Author <span>:</span></label>
				<input id="bauthor" name="bauthor" disabled style="width:250px;background:#999;border:none;font-size:26px;">
			</div>
		
			<div class="form-control">	
				<label class="header">Press <span>:</span></label>
				<input id="bpress" name="bpress" disabled style="width:250px;background:#999;border:none;font-size:26px;">
			</div>
		
			<div class="form-control">	
				<label class="header">Price <span>:</span></label>	
				<input id="bprice" name="bprice" disabled style="width:250px;background:#999;border:none;font-size:26px;">
			</div>	
			
            <div class="form-control">	
				<label class="header">Copies' Number <span>:</span></label>	
				<input id="cpn" name="cpn " disabled style="width:250px;background:#999;border:none;font-size:26px;" value="1">
			</div>
            
            <div class="form-control">	
				<label class="header">Location <span>:</span></label>	
				<input id="bloc" name="bloc " disabled style="width:250px;background:#999;border:none;font-size:26px;" value="2 Floor 5 Shelf">
			</div>
            
            <div class="form-control">	
				<label class="header">Category <span>:</span></label>	
				<input id="bookCategory" name="bookCategory " disabled style="width:250px;background:#999;border:none;font-size:26px;">
			</div>
            			
			<div class="form-control">
				<input type="button" class="reset" value="Back" onClick="back();">
			</div> 
		</form>
	</div>
</div>

<img id="barcode0" style="position:absolute;left:950px;top:250px;height:100px;width:200px;border:none" /></div>
<img id="barcode1" style="position:absolute;left:1160px;top:250px;height:100px;width:200px;border:none" /></div>
<img id="barcode2" style="position:absolute;left:950px;top:360px;height:100px;width:200px;border:none" /></div>
<img id="barcode3" style="position:absolute;left:1160px;top:360px;height:100px;width:200px;border:none" /></div>
<img id="barcode4" style="position:absolute;left:950px;top:470px;height:100px;width:200px;border:none" /></div>

<address>
<p class="copyright agileits-w3layouts agile w3-agile">© 2019 All Rights Reserved | Design by <a href="mailto:352384669@qq.com" target="_blank">NPUERS</a></p>
</address>

</div>
</body>
</html>